OPENAI_API_KEY=
QDRANT_URL=
QDRANT_API_KEY=
QDRANT_COLLECTION_NAME=langchain_qdrant_docs
CHAT_MODEL=gpt-4o-mini
EMBEDDING_MODEL=text-embedding-3-small
RETRIEVAL_K=5
RETRIEVAL_SCORE_THRESHOLD=0.35
BOOK_URL=https://sopheaksrey.wordpress.com/wp-content/uploads/2012/04/rich_dad_poor_dad_by_robert_t-_kiyosaki.pdf
