OPENAI_API_KEY= 
QDRANT_URL="https://cloud.qdrant.io/accounts/c7115a1e-a068-4ba2-bcb9-e4534c88aa88/cloud-access/cloud-management-keys"
QDRANT_API_KEY="ae9ad6a1-d48f-4957-baaa-d8d4ffd738cd|RAa7HJakzP0TnygJIqPFDeE-skyJSH9qIlDsBv3GlDc9JFy5bBUz2Q"
QDRANT_COLLECTION_NAME=langchain_qdrant_docs
CHAT_MODEL=gpt-4o-mini
EMBEDDING_MODEL=text-embedding-3-small
RETRIEVAL_K=5
RETRIEVAL_SCORE_THRESHOLD=0.35
BOOK_URL=https://sopheaksrey.wordpress.com/wp-content/uploads/2012/04/rich_dad_poor_dad_by_robert_t-_kiyosaki.pdf
